* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
margin: 0;
padding: 0;
background-color: black;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: fixed;
  padding: 2rem 3rem;
  margin-left: 250;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px 20px;
}

nav a:hover {
  color: #ffcc00;
}

h1 {
  display: block;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  margin-bottom: 1rem;;
  font-size: 40px;
}

a { 
  text-decoration: none;
  font-size: 5px;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;

  color: white;
  padding: 15px;
}

p {
  font-size: 1.2rem;
  max-width: 500px;
  text-justify: newspaper;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

button {
  border: 2px solid black;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  text-transform: uppercase;
  height: 70px;
  width: 150px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-left: 150px;
}

.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.section-falcon {
  position: absolute;
  left: 40px;
  bottom: 60px;
  color: whitesmoke;
}

/*.watch-falcon-video {
  position: absolute;
  text-transform: uppercase;  
  max-width: 350px;
  height: 60px;
  padding: 10px 10px;
  transition: all;
  margin-top: 20px;
  margin-left: 70px;
} */

.watch-falcon-video:hover {
  background-color: #ffcc00;
  color: black;
}
.lunch-video-h1 {
  color: white;
}

.falcon-bg1 {
background-image: url(space2.png);
}

.falcon-bg2 {
  background-image: url(space5.jpeg);
}

.falcon-bg3 {
  background-image: url(space3.jpg);
}

.falcon-bg4 {
  background-image: url(starship.jpg);
}





